.flip-card {
    perspective: 1000px; 
  }
  
  .flip-card-inner {
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  
  .flip-card-back {
    transform: rotateY(180deg);
  }