@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    background: rgba(255, 255, 255, 1);
}

.d_color{
    color: #517688 !important;
    font-style: normal !important;
}


.button_gradient{
    background: radial-gradient(circle at 111.51% -1.56%,  #FCBD78 10%, #4659CF 90%, );
}
.gradient-border {
    background: 
    linear-gradient(#e8dad6, #e8dad6) padding-box,
              linear-gradient(to right, #FCBD78, #4659CF) border-box;
  border-radius: 50em;
  border: 2px solid transparent;
  }
  .gradient-border:hover {
    border-color: #4351c8;
  }
  .gradient-borderr {
    background: 
    linear-gradient(#eff6f9, #eff6f9) padding-box,
              linear-gradient(to right, #FCBD78, #4659CF) border-box;
  border-radius: 50em;
  border: 2px solid transparent;
  }
  .gradient-borderr:hover {
    border-color: #4351c8;
  }

  .nav-link {
    position: relative;
    display: inline-block;
    padding: 0.5rem 1rem;
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: transparent; /* Hide the actual text color on hover */
    background-image: linear-gradient(to right, rgb(70 89 207 / 1), #D379AB, rgb(197 98 189 / 0.7));
    background-clip: text;
    -webkit-background-clip: text; /* For Safari/older browsers */
    -webkit-text-fill-color: transparent; /* Hide the actual text color */
    transition: none; /* Disable transition for the gradient effect */
  }
  
  /* Add this in your CSS file */
/* Add this in your CSS file */
.gradient-line-bottom {
    position: relative;
  }
  
  .gradient-line-bottom::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 0.5rem; /* Adjust margin as needed */
    width: calc(100% - 1.5rem); /* Adjust padding if needed */
    height: 1px;
    background: linear-gradient(to right, #4659CF, #FCBD78);
    transition: background 0.3s ease-in-out;
    z-index: 4; /* Ensure the line is on top of other content */
  }
  
  .gradient-line-bottom:hover::after {
    background: #5B62FE; /* Light blue color */
  }
  
  /* This rule removes any other border styles */
  .gradient-line-bottom > * {
    border: none !important;
  }
  


.stack_card_single{
    @apply w-fit bg-[#DBE8EE] border-[3px] border-[#233D6324] rounded-[40px] flex justify-center items-center p-4 ease-in-out duration-500
}