@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

.gradient-text {
    @apply font-bold w-36 h-12 flex items-center justify-center;
    background: radial-gradient(98.86% 198.27% at 102.51% -1.56%, #2A1F9D 15%, #4659CF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    /* Fallback for non-webkit browsers */
}

// .radial-button {
//     @apply w-[74px] h-[23px] rounded-[4px] px-[20px] py-[11px] relative shadow-custom text-xs font-semibold text-white;
//     background: radial-gradient(98.86% 198.27% at 102.51% -1.56%, #FCBD78 15%, #D379AB 54%, #C562BD 67%, #4659CF 100%);
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     background-clip: text;
//     color: transparent;
// }

@layer components {
    .gradient-button {
        background: radial-gradient(98.86% 198.27% at 102.51% -1.56%,
                #FCBD78 15%,
                #D379AB 54%,
                #C562BD 67%,
                #4659CF 100%);
    }
}


.d_color {
    color: #517688 !important;
    font-style: normal !important;
}

body {
    background: rgba(255, 255, 255, 1);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
    height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

.header-text {
    position: sticky;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    /* Semi-transparent background */
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.sticky-left-column {
    position: sticky;
    left: 0;
    background: white;
    box-shadow: 5px 0 5px -2px rgba(0,0,0,0.5); /* Shadow to the right */
    z-index: 10;
  }*{
    font-family: "Poppins", sans-serif;
}

body{
    background: rgba(255, 255, 255, 1);
}

.d_color{
    color: #517688 !important;
    font-style: normal !important;
}

.tab_cards_gradient{
    background: radial-gradient(circle at 95.33% 99.97%, #83d8e6 15%, #4659CF 100%);
}

.button_gradient{
    background: rradial-gradient(circle at 102.51% -1.56%, #FCBD78 15%, #D379AB 54%, #C562BD 67%, #4659CF 100%);
}
.rotate_card{
    perspective: 1000px;
}
.main_face{
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    transform-style: preserve-3d;
}
.rotate_card:hover .main_face{
    transition: ease-in-out 500ms;
    transform: rotateY(180deg);
}

.back_face{
    z-index: 1;
    transform: rotateY(180deg);
        transition: ease-in-out 500ms;

}

.stack_card_single{
    @apply w-fit bg-[#DBE8EE] border-[3px] border-[#233D6324] rounded-[40px] flex justify-center items-center p-4 ease-in-out duration-500
}